
    <main>
      <h1>{{products.name}}</h1>
      <img class="cube" src="{{products.imageUrl}}">
      <div class="details">
        <p><span>Description:</span>{{products.description}}</p>
        <p><span>Difficulty level:</span> {{products.difficultyLevel}}</p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>